<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        Data: <%= test %><br>
        debug: <%= debug ? 'true' : 'false' %><br>
        _urlBase: <%= _urlBase %><br>
        _staticVer: <%= _staticVer %><br>
        _staticPath: <%= _staticPath %><br><br>
        locals.test: <%= locals.test %>
    </body>
</html>